body {
	color: #000 !important;
	background-color: #fff !important;
	font-family: monospace !important;
}
div.centered-main-container{
	position: absolute;
    top: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
div.menu{
	position:relative;
	width: 125px;
	top: 10px;
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
}
div.name{
	position: relative;
	top: 30px;
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
	width: 195px;
}
div.text-description{
	position: relative;
	top: 50px;
	font-size: 1.3em;
}

img, h1, h2 {
	vertical-align: middle;
}

a:target {
	background-color: #ccc;
}

table thead td {
	font-weight: bold;
}

table td {
	padding: 0 0.4em;
	font-size: 1.3em;
}

#content table td {
	vertical-align: top;
	white-space: nowrap;
}

#branches tr:hover td,
#tags tr:hover td,
#index tr:hover td,
#log tr:hover td,
#files tr:hover td {
	background-color: #eee;
}

#index tr td:nth-child(2),
#tags tr td:nth-child(3),
#branches tr td:nth-child(3),
#log tr td:nth-child(2) {
	white-space: normal;
}

td.num {
	text-align: right;
}

.desc {
	color: #777;
}

hr {
	border: 0;
	border-top: 1px solid #777;
	height: 1px;
}